input:focus {
    border-color: rgb(255, 217, 3);
}

input:valid {
    border-color: green;
    border-width: 5px;
    background-color: rgba(0, 128, 0, 0.358);
}
input:invalid {
    border-color: red;
    border-width: 5px;
}

input:not(:focus):invalid {
    background-color: rgba(255, 0, 30, 0.314);
}

#inputGroupSelect02 {
    background-color: aquamarine;
    color: blue;
    border-color: blue;
}

#inputGroupSelect01 {
    background-color: aquamarine;
    color: blue;
    border-color: blue;
}